@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  height: auto;
  /* overflow: hidden; */
  font-family: "Poppins", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  padding: 15px;
  background-color: black;
  color: #fff;
}

.material-symbols-outlined:hover {
    background-color: #fff;
    color: black;
}

.header_container {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  padding: 30px 0px;
}

.nav-container-1 ul {
  display: flex;
  list-style: none;
  gap: 100px;
  font-size: 12px;
  font-weight: 900;
  opacity: 0.8;
  text-align: center;
  cursor: pointer;
}

.nav-container-2 h2 {
  text-transform: uppercase;
  letter-spacing: 8px;
}

.nav-container-3 {
  display: flex;
  gap: 60px;
}

.nav-container-3 ul {
  display: flex;
  list-style: none;
  gap: 100px;
  font-size: 12px;
  font-weight: 900;
  opacity: 0.8;
  text-align: center;
  cursor: pointer;
}

.main-container {
    display: flex;
    justify-content: space-around;
}

.section-container-1 {
    /* border: 2px solid red; */
    margin-top: 30px;
}

.section-container-1 ul {
    list-style: none;
    display: flex;
    padding: 78px 0px;
    flex-direction: column;
    gap: 45px;
    opacity: 0.7;

}

.section-container-1 ul:hover {
    cursor: pointer;
    opacity: 1;
    
}

.section-container-2  {
    /* border-right: 1px solid grey; */
    padding-top: 40px;
    /* width: 200px; */
    /* margin-right: 20px; */

}

.section-container-2 p {
    font-size: 10px;
    color: gray;
}

/* .section-container-2 p span {
    border-radius: 50%;
    background-color: red;
    width: 32px;
    height: 32px;
} */

.section-container-2 h1 {
    font-size: 40px;
     line-height: 38px;
     padding-top: 15px;
}

.section-container-2 img[src] {
    width: 400px;
    padding-top: 30px;
    height: 200px;
}

.section-container-2 ul {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 12px;
    opacity: 0.7;
    font-weight: 700;
    padding-top: 60px;
}


.section-container-3 {
}

.section-container-3 article p {
    font-size: 9px;
}


